@use './breakpoints' as bp;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Web

.introBox {
  min-height: 25rem;
  /* Stretch intro box to fill out inner container. */
  width: fill;
  max-width: 77rem;
  border: 0.3125rem solid black;
  padding: 3.5rem 4rem;
  @media only screen and (max-width: bp.$breakpoint-md) {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 2rem 2.5rem;
  }
}

.infoSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: bp.$breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
}

.profile {
  border-radius: 15.625rem;
}

.infoTextSection {
  margin-left: 3.125rem;
  flex: 1 0;
  @media only screen and (max-width: bp.$breakpoint-md) {
    //flex-direction: column;
    margin-left: 0;
    margin-bottom: 1.25rem;
    text-align: center;
  }
}

.blurbSection {
  margin-top: 3rem;
  @media only screen and (max-width: bp.$breakpoint-md) {
    //flex-direction: column;
    margin-top: 5rem;
  }
}

.contactSection {
  display: flex;
  flex-direction: row;
  
  // Any child component:
  & > * {
    margin-left: 1.25rem;
  }

  & > *:first-child {
    margin: 0;
  }
}

.contactItem {
  text-align: center;
}

svg.contactIcon {
  font-size: 4rem;
}

// Mobile

